include MANIFEST.in
include README.rst
include mwlib/__init__.py
include mwlib/epub/__init__.py
include mwlib/epub/_version.py
include mwlib/epub/collection.py
include mwlib/epub/config.py
include mwlib/epub/epubwriter.py
include mwlib/epub/metainfo.py
include mwlib/epub/mimetype
include mwlib/epub/siteconfig.py
include mwlib/epub/treeprocessor.py
include mwlib/epub/utils/__init__.py
include mwlib/epub/utils/allowed_attributes.json
include mwlib/epub/utils/allowed_tags.json
include mwlib/epub/utils/empty_ok.json
include mwlib/epub/utils/make_tag_attr_list.py
include mwlib/epub/utils/misc.py
include mwlib/epub/wikipedia_logo.jpg
include mwlib/epub/wp.css
include setup.cfg
include setup.py
include tests/test.zip
include tests/test_basic.py
include tests/test_valid_xhtml.py
include tox.ini
