table {
  border-spacing: 0 !important;
  /* width: 100%; */
  border-collapse: collapse !important;
  border: 1px solid #ccc;
  font-size: 0.75em;
  margin-right: auto;
  margin-left: auto;
}

table td, table th {
  vertical-align: top;
  border: 1px solid #ccc;}

table table {
  border: 0; }
table table td, table table th {
  vertical-align: top;
  border: 0; }

table.toc {
  background: #f9f9f9; }
table.toc h2 {
  border: 0;
  padding: 0;}


table.wikitable th {
  background: #f3f3f3; 
}
table.wikitable th, 
table.wikitable td {
  border: 1px solid #aaa;
  padding: 0.2 em;
}

table[style] {
  /* width: 100% !important; */
  float: none !important;
  /* margin-left: 0 !important;  */
}

table.infobox {
  background: #f9f9f9; }

table.infobox th, table.infobox td {
  border: 0; }

table.infobox td[colspan="3"], table.infobox th[colspan="3"] {
  border: 1px solid #ccc; }

.infobox caption {
  font-weight: bold;
  font-size: 110%;
}

table.gallery {
  background: #f9f9f9;
  border-bottom: 0; }

table.gallery th, table.gallery td {
  display: block;
  border: 0 solid #ccc; }

table.gallery .gallerybox[style] {
  width: auto !important;}

table.gallery .thumb[style] {
  border: 0;
  padding: 0 !important;
  width: auto !important;
  margin: 0 auto; }

table.gallery .gallerytext {
  text-align: center; }

table.geography[style] th {
  text-align: left; }

table.geography[style] td[style*="text-align"], table.geography[style] td[colspan="2"] {
  text-align: left !important;
  margin-left: 0 !important;
  margin-right: 0 !important; }

table.geography[style] td[style*="text-align"] div[style], table.geography[style] td[colspan="2"] div[style] {
  text-align: left !important; }

table.admin {
  width: 300px; }

html {
 }

body {
  font-size:100%;
  line-height: 1.6;
  color: #000;
  background: #fff;
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
}


titlepage {
  text-align: center; 
  vertical-align: middle;
  margin-top: 10%}

titleimage {
    height: 50%
}

pre {
  white-space: pre-wrap; }

p, li, dl, #featured_article {
  font-size: 0.875em;
  margin:0.5em 0;
}

h1, h2, h3, h4, h5, h6 { 
  page-break-after: avoid;
  margin: 1em 0 0.75em 0;
}

h3, h4, h5, h6 { 
  margin: 0.75em 0 0.5em 0;
}

  /* a:visited { */
  /*   color: #5a3696; } */
  /* a:active { */
  /*   color: #faa700; } */

/* a.new, a.new:visited, a.new:hover { */
/*   color: red; } */

a.back_to_top, a.back_to_top:visited {
  margin-top: 7px;
  color: blue; }

.links {
  float: left;
  padding: 10px; }


#contentSub, .dablink {
  margin-bottom: 10px; }

.section_anchors a {
  display: block; }

.section_anchor {
  height: 1px;
  width: 1px; }


.printonly, .geo-multi-punct, .geo-nondefault, .Z3988 {
  display: none; }


#featured_article .noprint, .today .noprint {
  display: none; }


.thumb {
  border: 1px solid #ccc;
  text-align: center;
  background: #f9f9f9;
  margin-bottom: 10px; }

.thumb .thumbinner[style] {
  margin-left: auto; 
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;}

.thumb .thumbcaption {
  width: 100%;
  margin: 5px 10px 0;
  text-align: center;
  width: auto !important; 
  font-size: 0.75em;
}

.thumbcaption { 
  width: 75%;
  font-size: 0.75em;
  font-style: italic;
}

.thumbinner { 
  /* display: inline-block; */
  border: 1px solid #ccc;
  padding: 4px;
}

.thumb { 
  border:0;
  background:0;
}

img { 
 max-width: 100%;
 clear: both;
 page-break-inside: avoid !important;
 padding: 0;
 margin: 0;
}

img.thumbborder {
  border: 1px solid #ccc; }


.floatright {
  float: right; }

#content_wrapper.home h1#firstHeading {
  display: none; }

#header {
  margin: 8px 8px 0 8px; }

#content_wrapper {
  clear: both;
  margin: 0 8px; }

#footer {
  margin: 0 8px; }

#header img, #header form, #header input, #header button {
  vertical-align: middle;
  display: inline-block; }



#image_wrapper {
  margin: 8px 0 8px -3px; }


ol.references > li:target,
sup.reference:target,
span.citation:target, cite:target {
  background-color: #DEF; }


.content_block,
.section_anchors,
button.section_heading.hide {
  display: none; }

.reflist { 
  font-size: 0.75em;
}

dt { 
  font-weight:bold;
}

/*
li.gallerybox{vertical-align:top;background-color:#f9f9f9;border:solid 2px white;display:-moz-inline-box}

ul.gallery,li.gallerybox{display:inline-block;zoom:1;*display:inline}

ul.gallery{margin:2px;padding:2px;background-color:white;display:block}

li.gallerycaption{font-weight:bold;text-align:center;display:block;word-wrap:break-word}

li.gallerybox div.thumb{text-align:center;border:1px solid #ccc;margin:2px}

div.gallerytext{overflow:hidden;font-size:93%;padding:2px 4px;word-wrap:break-word}
*/

/* h1, h2, h3, h4 { */
/*   color: red; */
/*   background-color: grey; */
/*   border: 2px solid green; */
/* } */


.thumb, table, h1, h2, h3, h4, h5, h6 { 
  page-break-inside: avoid;
}

/* ====================================================== */
/* Additions for ePub */
/* ====================================================== */
div.thumb {
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.thumbinner {
  border: none;
  padding: 0;
}
.thumb .thumbinner[style] {
  margin: 0;
}

a.image img {
  max-width: 100%;
  max-height: 100%;
  clear: both; /* This is in Apple's example?! */
  display: block;
  page-break-inside: avoid;
  padding: 0;
  margin: 0 auto;
}
.thumb .thumbcaption {
  line-height: 1.2em;
  padding: .5em 0 0 0;
  margin: .5em 0 0 0;
  text-indent: 0;
}
a {
  text-decoration: none;
}
.thumb + .thumb { margin-top: 0; border-top: none;}


ul.gallery{
  margin:1em 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
li.gallerybox{
  vertical-align:top;
  border: 2px solid white;
  display: inline-block;
  page-break-inside: avoid;
}
li.gallerybox[style],
li.gallerybox > div[style] {
  width: auto !important;
  max-width: 150px;
}
li.gallerybox div[style="width: 155px"] {
  border:1px solid #ccc;
  width: 150px !important;
}
/*
li.gallerycaption{
  font-weight:bold;
  text-align:center;
  display:block;
  word-wrap:break-word
}
*/
li.gallerybox div.thumb {
  text-align:center;
  margin: 0;
  padding: 0;
  display: table;
  border: none;
}

li.gallerybox div.thumb > div[style] {
  margin: auto !important;
  display: table-cell;
  padding: 0;
  vertical-align: middle;
}



div.gallerytext{
  overflow:hidden;
  font-size:90%;
  padding:2px 4px;
  word-wrap:break-word;
  border-top: 1px dashed #ccc;
}

.metainfo {
  font-size: 0.5em;
  list-style-type:none;
}
